<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094927185627-h14pp4o7issc7kq3fal2h7nlfvv7s053.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094927185627-h14pp4o7issc7kq3fal2h7nlfvv7s053</string>
	<key>API_KEY</key>
	<string>AIzaSyC-u0t6DJ5Psdnu8enp3xAvhmOL6C3uS-E</string>
	<key>GCM_SENDER_ID</key>
	<string>1094927185627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>login-register-16173</string>
	<key>STORAGE_BUCKET</key>
	<string>login-register-16173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094927185627:ios:6a7587550d34a1ea043efe</string>
</dict>
</plist>
